body {
  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
  background-color: #161616;
	color: #fff;
  text-align: center;
  margin: 0;
}

.cell {
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;

  display: flex;
  border: 0.2vmin solid #747475;
  border-radius: 5%;
  width: 1em;
  height: 1em;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  
  &.grey {
    background-color: #666;
  }
  &.yellow {
    background-color: #c2a61a;
    border-color: #8b7507;
  }
  &.green {
    background-color: #538d4e;
    border-color: #366632;
  }
}